$medium_device : 'only screen and (min-width:992px)';
$tab_device : 'only screen and (min-width:768px) and (max-width:991px)';
$xs-tab : '(min-width:930px)';
$small_device : '(max-width:767px)';
$xs-small_device : '(max-width:460px)';
$nav : '(max-width:991px)';