$primary-font:'Lato',sans-serif;
$text-dark:#666666;
$text-ld-dark:#555555;
$primary:#4272d7;
$bg-dark:#171A21;
$text-light:#fff;
$dark-light:#1E2128;
$before-color:#cccccc;
$dark:#3d3d3d;
$deep-light:#b4c0e0;
$light-dark:#333333;
$after-color:#adadad;
$section-bg-color:#f0f0f0;
$ex-dark:#222222;
$pr-h-color:#555555;
$h3-color:#6c6c6c;
$btn-color:#dcdcdc;
$darks:#171a21;
$list-color:#45484d;
$input-background:#2f3138;